

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(53, 53, 53);
  height: 40px;
}

.header tr {
  display: flex;
  gap: 40px;
  margin-left: 200px;
}

.header input {
  margin-right: 200px;

  border: 0;
  border-radius: 4px;
  background-color: #F5F5F5;

  padding-left: 10px;
  box-sizing: border-box;
}

.header div {
  display: flex;
  gap: 10px;
}

/* GENEROS */

.generos {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.generos i {
  font-size: 20px;
}

.genreMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: rgb(53, 53, 53);
  width: 500px;
  height: 200px;

  border-radius: 4px;
  padding: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;

  margin: auto;

  left: -50%;
  right: -50%;

  top: 0;
  bottom: 0;
  z-index: 2;
}
